<%- include('partials/head') %>
    
<body>
  <%- include('partials/navbar') %>
  <header>
    <h1>Go Premium</h1>
    <p>Unlock your Fullest Potential!</p>
  </header>
  <br>
  <br>
  <br>
  <br>
  <section class="benefits">
    <h2>Why Choose Premium?</h2>
    <ul>     
        <li> Borrow as much books as u want</li>
        <li> Extended time limit to return</li>
        <li> Wishlist items can be discounted</li>
    </ul>
  </section>
  <br>
  <br>
  <br>
  <br>
  <section class="cta">
    <h2>Ready to Upgrade? Only $6.70 per hour today!</h2>
    <button onclick="window.location.href='/subscribe'">Join Premium Now</button>
    <br>
    <br>
    <br>
    <br>
 <br>
  </section>
 
</body>
</html>